@{
    ViewBag.Title = "Sobre nós";
}
<h2>@ViewBag.Title.</h2>

<h3>Quem Somos</h3>
<div style="text-align:center">
    <div style="text-align:justify">
        <p>A Associação Protetora dos Animais da Região Ribatejo nasceu em 1985 por mão de um grupo de amigos que tinham um espaço e que decidiram começar a albergar animais abandonados e em risco de saúde. Até aos dias que correm já passou por várias direções e atualmente conta com um grupo de gente decidida a fazer honrar o principal objetivo da Associação e a trabalhar em prol dos animais abandonados (que se pressupõe sem dono e que não exista ninguém que lhe providencie alimentação e cuidados). Atualmente tem um protocolo assinado de colaboração com a Câmara Municipal de Tomar com vista ao alargamento das instalações do Canil por forma a que a Associação saia das condições degradantes em que se encontra.</p>
    </div>
</div>

<h3>Como Ajudar</h3>
<div style="text-align:center">
    <div style="text-align:justify">
        <dl>
            <dt>
                Fazendo-se Sócio
            </dt>
            <dd>
                &nbsp;&nbsp; &#10003; Sócios e quotas: poderem ver se estão pagas
            </dd>
            <br/>
            <dt>
                Donativos em géneros
            </dt>
            <dd>
                &nbsp;&nbsp; &#10003; Ração adulto e junior cão e gato
            </dd>
            <dd>
                &nbsp;&nbsp; &#10003; areia para gatos
            </dd>
            <dd>
                &nbsp;&nbsp; &#10003; medicamentos
            </dd>
            <dd>
                &nbsp;&nbsp; &#10003; artigos de farmácia (compressas, betadine, água oxigenada)
            </dd>
            <br/>
            <dt>
                Adotar Cão/Gatos
            </dt>
            <dd>
                &nbsp;&nbsp; &#10003; Escolha do animal para adotar cão/gato
            </dd>
            <dd>
                &nbsp;&nbsp; &#10003; Ficha de adoção cão/gato
            </dd>
            <dd>
                &nbsp;&nbsp; &#10003; Cuidados e conselhos (vacinas, desparasitações internas/externa, esterilização, chip, cuidados de saúde, higiene, passeios, férias)
            </dd>
            <dt>
                Voluntariado
            </dt>
            <dd>
            &nbsp;&nbsp; &#10003; Ajudas na Associação
            </dd>
        </dl>
        <br/>
    </div>
</div>
