@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>

<address>
    <strong>Facebook:</strong>   <a href="https://www.facebook.com/aparr.tomar/">https://www.facebook.com/aparr.tomar/</a><br /><br />
    <strong>Email:</strong> <a href="mailto:aparrtomar@gmail.com">aparrtomar@gmail.com</a><br />
    <strong>Telefone Abrigo:</strong> 912 732 107 <br/>
    <strong>Tel. Presidente:</strong> 914 026 047<br />
    <strong>Tel. Vice-Presidente:</strong> 914 730 119<br />
    <strong>Tel. Canil Intermunicipal:</strong> 249 090 952<br />

</address>